<a href="https://colab.research.google.com/github/rahulvudari/CatsVsDogs-Classifier-TensorFlow/blob/master/Assessment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Step 1. Import the necessary libraries**

In [1]:
import pandas as pd

**Step 2. Import the dataset from this address.**

**Step 3. Assign it to a variable called users and use the 'user_id' as index**

In [5]:
user = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|')

In [6]:
user.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [7]:
user = user.set_index('user_id')

In [8]:
user

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

**Step 4. See the first 25 entries**

In [9]:
user.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

**Step 5. See the last 10 entries**

In [10]:
user.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

**Step 6. What is the number of observations in the dataset?**

In [11]:
len(user)

943

**Step 7. What is the number of columns in the dataset?**

In [62]:
len(user.columns)

4

**Step 8. Print the name of all the columns.**

In [16]:
for col in user.columns:
  print(col)

age
gender
occupation
zip_code

**Step 9. How is the dataset indexed?**

In [17]:
user.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

**Step 10. What is the data type of each column? **

In [20]:
user.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

**Step 11. Print only the occupation column**

In [21]:
user['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

**Step 12. How many different occupations are in this dataset?**

In [24]:
df = user.groupby('occupation').count()
df

               age  gender  zip_code
occupation
administrator   79      79        79
artist          28      28        28
doctor           7       7         7
educator        95      95        95
engineer        67      67        67
entertainment   18      18        18
executive       32      32        32
healthcare      16      16        16
homemaker        7       7         7
lawyer          12      12        12
librarian       51      51        51
marketing       26      26        26
none             9       9         9
other          105     105       105
programmer      66      66        66
retired         14      14        14
salesman        12      12        12
scientist       31      31        31
student        196     196       196
technician      27      27        27
writer          45      45        45

In [25]:
len(df)

21

**Step 13. What is the most frequent occupation?**

In [32]:
df = user.groupby('occupation').gender.count()
df = df.sort_values(ascending=False)
df

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: gender, dtype: int64

In [36]:
df.index[0]

'student'

**Step 14. Summarize the DataFrame.**

In [37]:
user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [40]:
user.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

**Step 15. Summarize all the columns**

In [42]:
user.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

**Step 16. Summarize only the occupation column**

In [45]:
user.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

**Step 17. What is the mean age of users?**

In [46]:
user.age.mean()

34.05196182396607

**Step 18. What is the age with least occurrence?**

In [58]:
df = user.groupby('age').count().sort_values('gender',ascending=True)
minimum = df['gender'].min()
for ind in df.index:
  if df['gender'][ind] == minimum:
    print(ind)

7
66
73
10
11

In [59]:
df.head(10)

     gender  occupation  zip_code
age
7         1           1         1
66        1           1         1
73        1           1         1
10        1           1         1
11        1           1         1
62        2           2         2
69        2           2         2
68        2           2         2
64        2           2         2
58        3           3         3

**Step 19. Write a lambda function to convert a string column to a numerical column**

In [60]:
convert = lambda x: int(x) if(type(x) is str) else x

In [68]:
sample = {'id':'123',
          'salary':'23444'}
convert(sample['id'])

123

In [69]:
type(convert(sample['id']))

int